@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@300;400&display=swap');

/* Variables */

$color-light: #fcdbd7;
$color-dark: #583d72;
$color-column: #ff8474;

$font-header: 'Montserrat', sans-serif;
$font-text: 'Open Sans', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 500;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

a {
  text-decoration: none;
  color: $color-dark ;
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: $color-column;
  margin-right: 10px;
  padding: 40px;
  border: 2px solid $color-dark;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.posts {
  background-color: transparent;
}

/* Logo */

.logo {
  font-family: $font-header;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;
  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
  color: $color-column;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }

  li {
    color: $color-dark;
  }
}
